.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 80px;
  flex-direction: column;
}

#head {
  justify-content: space-between;
  align-items: center;
}

.icon p {
  margin: 0;
  position: relative;
  top: 24px;
}

.list {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .icon.left {
    position: sticky;
    top: 50%;
  }

  i.fa-cloud-moon-rain {
    padding: 15px 0;
  }

  .icon p {
    position: relative;
    top: 10px;
  }
}

main.container {
  padding: 1rem 0;
}

.icon.right {
  padding: 1.5rem 0 0;
}

@media screen and (max-width: 600px) {
  ul {
    margin: 0 10px;
  }
}
