* {
  font-family: Gurajada, serif;
}

audio {
  height: 50px;
  width: 100%;
}

img {
  width: 100%;
}

.logo {
  padding-top: 5px;
  width: 100px;
  height: 95px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo p {
  margin: 0;
  font-size: 24px;
  height: auto;
  position: relative;
  bottom: 15px;
  color: white;
}

header {
  background-color: #35761e;
  position: sticky;
  top: 0;
  z-index: 10;
}

i {
  color: white;
  max-height: 80px;
  scale: 4.4;
}

ul {
  background-color: #f3eeda;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 10px;
}

body {
  background-color: #91c166;
}

i.headnav {
  scale: 1.5;
}
